         <!--Portfolio Item Heading 
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Všetky umelecké objekty po tvorcoch
                    <small>Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <!--<div ng-repeat="objectPerCreator in objectsToFilter() | filter:filterCreators | orderBy:'creator'" class="row">
        <b>{{objectPerCreator.creator}}</b>
<div id="columns">
  <figure ng-repeat="object in objects | filter:{creator: objectPerCreator.creator} |limitTo:1">
  <img src="{{ object.media_object }}">
	<figcaption><a href="/object/{{ object._id }}">{{ object.title }}</figcaption>
	</figure>
</div>-->

<style>
    body {
        margin-top: 100px;
    }
</style>

<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Všetci umelci
        </h1>
    </div>
</div>
<!-- /.row -->


<!--<div id="columns">
    <div ng-repeat="objectPerCreator in objectsToFilter() | filter:filterCreators | orderBy:'creator'">
        <figure ng-repeat="object in objects | filter:{creator: objectPerCreator.creator} |limitTo:1">
            <img src="{{ object.media_object }}">
            <figcaption><a href="/object/{{ object._id }}">{{ object.creator }}</figcaption>
        </figure>
    </div>
</div>-->


    <div id="columns">
        <figure ng-repeat="object in objects | filter:creator ">
            <!--<button>Like</button>-->
           <a href="/object/{{ object._id }}"><img src="{{ object.media_object }}"></a>

            <!--<button ng-click="fcia()">OK</button>-->

            <figcaption><b>{{ object.title }}</b></figcaption>
            <!--<figcaption><a href="/allobjects/{{ object.creator }}">{{ object.creator  }}</a></figcaption>-->
                   <figcaption><a href="/allobjects/{{ object.creator }}">{{ object.creator  }}</a></figcaption>
                    <button ng-model="creator"> KDS </button>
       
        </figure>
    </div>
</div>
