<style>
    body {
        margin-top: 200px;
    }
</style>
<center>
<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-12" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                                <h2 class="featurette-heading">{{storyTitle}}</h2>
                                                    <h4 ng-show="main.isLoggedIn">{{storySubtitle}}</h4>
                <p class="lead">{{storyDescription}}</p>
                <!--<p class="main">{{storyDescription}}</p>-->

            </div>

            <div class="row">
                <div class="col-md-12">
                    <a href="/story/{{ storyId }}/addImages">Uploadnuť obrázky</a>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div ng-class="{ 'active' : !$index }" class="item" data-slide-number="{{$index}}" ng-repeat="image in images track by $index" >
                                        <img src="{{image}}">
                                    </div>
                                </div>

                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

